.transliterator {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.transliterator__text__lang,
.transliterator__result__lang {
  margin-bottom: 1rem;
  border: none;
  background: transparent;
  outline: none;
}

.textarea {
  width: 100%;
  height: 20rem;
  resize: none;
  outline: none;
  border-radius: 5px;
  padding: 1rem;
  font-size: 1rem;
  border: 1px solid #b2b2b2;
}

.btn {
  color: #000;
  background-color: inherit;
  outline: 1px solid #b2b2b2;
  width: 100%;
  border: none;
  border-radius: 5px;
  padding: 0.3rem;
  cursor: pointer;
}

.btn svg {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
