.transliterator {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.transliterator__text__lang,
.transliterator__result__lang {
  margin-bottom: 1rem;
  border: none;
  background: transparent;
  outline: none;
}

.textarea {
  width: 100%;
  height: 20rem;
  resize: none;
  outline: none;
  border-radius: 5px;
  padding: 1rem;
  font-size: 1rem;
  border: 1px solid #b2b2b2;
}

.btn {
  color: #000;
  background-color: inherit;
  outline: 1px solid #b2b2b2;
  width: 100%;
  border: none;
  border-radius: 5px;
  padding: 0.3rem;
  cursor: pointer;
}

.btn svg {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

/* alert styles */

.alert {
  position: absolute;
  background-color: inherit;
  top: 5.7%;
  right: 1%;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.2rem;
  transition: all;
  border: 1px solid #b2b2b2;
}

.alert--success {
  display: none;
}

.alert--fail {
  display: none;
}

.alert--logo {
  padding: 0.3rem;
  border-radius: 0.5rem;
  margin: 0 0.5rem;
  opacity: 0.8;
}

.alert--logo__success {
  background-color: #24bf5f;
}

.alert--logo__fail {
  background-color: #f54f4e;
}

.alert--text__success {
  color: #168641;
}

.alert--text__fail {
  color: #e52221;
}

.alert--logo__close {
  cursor: pointer;
}
